<h1>Dashboard#dash</h1>
<p>Find me in app/views/dashboard/dash.html.erb</p>
<% @menu.each do |menu |%>
  <%= link_to "Menu #{menu["id"]}", dashboard_path(id: menu["id"]) %>
<%end%>
  <h5><%= @active_menu[:name] %></h5>
<%= pie_chart @dish_and_count%>
<%= area_chart @dish_and_amount %>
<%= line_chart @revenue_daily %>
<%= bar_chart @completed_and_pending %>
