<p id="notice"><%= notice %></p>


<section class="Menu_View_Wrapper">
  <div class="Menu_Details_Wrapper">
    <%= image_tag(@menu.thumbnail, :class => "Menu_Details_Picture") %>
    <div class="Menu_Details">
      <h2 class="Menu_Detail_Title" id = "menu_heading"><%= @menu.name %></h2>
      <button class="Menu_Button" id = "menu_edit_btn">Edit</button>
      <div class="Menu_Edit_Form" id = "menu_edit_form">
        <%= render 'form', menu: @menu %>
      </div>
    </div>
  </div>
</section>
<section class="Menu_Dishes_Wrapper">
  <div class="Menu_Dish_Title">
    <h4>Dishes Added to this Menu</h4>
    <%= link_to 'New Dish', new_menu_item_path(:id => @menu.id), class: "Menu_Button" %>
  </div>
  <div class="Dish_Card_Wrapper">
    <% @dishes.each do |dish| %>
      <%= link_to dish, class: "Menu_Card_Link" do%>
      <div class="Menu_Dish_Card">
        <%= image_tag(dish.thumbnail, :class => "Menu_Dish_Image")%>
        <h5 class="Menu_Dish_Name"><%= dish.name %></h5>
        <div class="Menu_Dish_Price">
          <%= image_tag("cash.svg", :class => "Menu_Cash_Icon") %>
          Rs. <%= dish.price %>
        </div>
      </div>
      <%end%>
    <%end%>
  </div>
</section>


<script>
const editButton = document.getElementById("menu_edit_btn");
const editForm = document.getElementById("menu_edit_form");
const Heading = document.getElementById("menu_heading");
let formState = false;
editButton.addEventListener("click", event => {
  if(formState === true) {
    editButton.innerHTML = "Edit";
    editForm.style.display = "none";
    Heading.style.display = "block";
    formState = false;
  } else {
    editButton.innerHTML = "Close";
    editButton.style.marginTop = 0;
    editForm.style.display = "block";
    Heading.style.display = "none";
    formState = true;
  }
})
</script>
