<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @menu.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>
<p>
<%= image_tag(@menu.thumbnail)%>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
