<div class="user-list-title-wrapper">
  <h4 class="users-list-title">Orders</h4>
</div>
<div class="order-wrapper">
  <div class = "orders-filters">
    <%= link_to "Today's Orders", orders_path(today: true)%>
    <% if is_admin %>
      <div>
        <%= form_tag({},{:method => :get}) do %>
          <%= number_field_tag 'user', nil, min: 1 %>
          <%= submit_tag "Search by User"%>
        <% end %>
      </div>
    <% end %>
    <%= link_to "Completed", orders_path(completed: true) %>
    <%= link_to "Pending", orders_path(pending: true) %>
    <%= link_to "All", orders_path %>

  </div>
  <div class="user-list-table-wrapper">
    <table>
      <thead>
        <tr>
          <th>User </th>
          <th>Total</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <% if order.user.role == "Admin" || order.user.role == "Biller" %>
              <td>Walk-in Customer</td>
            <% else %>
              <td><%= order.user.email %></td>
            <% end %>
            <td><%= order.total %></td>
            <td>
              <% if order["status"] == "Completed"%>
                <span class="order_status green">
                  <%= order["status"] %>
                </span>
              <% else %>
                <span class="order_status red">
                  <%= order["status"] %>
                </span>
              <% end %>
            </td>
            <td>
              <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% if order["status"] != "Completed" %>
                <%= link_to 'Mark as Complete', complete_order_path(id: order[:id]), method: :post %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if @page != 0 %>
      <%= link_to "Previous Page", orders_path(page: @page - 1)%>
    <% end %>
    <%= link_to "Next Page", orders_path(page: @page + 1)%>
  </div>
</div>

<br>
